<%= form_for(@job_profile) do |f| %>
  <% if @job_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_profile.errors.count, "error") %> prohibited this job_profile from being saved:</h2>

      <ul>
      <% @job_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
